<div class="page_title">Dashboard</div>


<div class="content">
    <div class="column_1">
		<div class="column_content">         
			<div class="column_title">Summary</div>
			<div class="column_sub_content">			
				<div class="column_guide">
					<p>Number of products uploaded</p>
					<p>Number of clause with products</p>
					<p>Number of CAWS Work Sections</p>
					<p>Last product updated</p>
				</div>								
			</div>	   
    	</div> 
    </div>
    
    
	<div class="column_2 column_blank"></div>
    <div class="column_3 column_blank"></div>
    
</div>