<div class="page_title">Product Summary</div>


<div class="content">
    <div class="column_1">
		<div class="column_content">         
			<div class="column_title">Summary</div>   
    	</div> 
    </div>
    
    
    <div class="column_2">
		<div class="column_content">   
    		<div class="column_title">Products</div>  
    	</div>  	
    </div>
 

    
    <div class="column_3">
		<div class="column_content">   
    		<div class="column_title">Timeline</div>	
		</div>
    </div>
    
</div>