$background-color: #fff;
$title-colour: #245893;
$corner-radius: 4px;
$shadow-right: 1px 1px 1px #000;
$shadow-inset-right: inset 1px 1px 1px #000;
$shadow-bottom: 1px 1px 1px #000;
$shadow-all: 0px 0px 10px #aeaeae;
$shadow-tab: 0px 0px 5px 2px #aeaeae;

@mixin shadow-bottom {-moz-box-shadow: $shadow-bottom; -webkit-box-shadow: $shadow-bottom; box-shadow: $shadow-bottom;}
@mixin shadow-right {-moz-box-shadow: $shadow-right; -webkit-box-shadow: $shadow-right; box-shadow: $shadow-right;}
@mixin shadow-inset-right {-moz-box-shadow: $shadow-inset-right; -webkit-box-shadow: $shadow-inset-right; box-shadow: $shadow-inset-right;}

@mixin shadow-all {-moz-box-shadow: $shadow-all; -webkit-box-shadow: $shadow-all; box-shadow: $shadow-all;}
@mixin shadow-none {-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
@mixin shadow-tab {-moz-box-shadow: $shadow-tab; -webkit-box-shadow: $shadow-tab; box-shadow: $shadow-tab;}

@mixin corners-all {-webkit-border-radius: $corner-radius; -moz-border-radius: $corner-radius; border-radius: $corner-radius;}

@mixin corners-left {-webkit-border-radius-topleft: $corner-radius; -webkit-border-radius-bottomleft: $corner-radius; -moz-border-radius-topleft: $corner-radius; -moz-border-radius-bottomleft: $corner-radius; border-radius-topleft: $corner-radius; border-radius-bottomrleft: $corner-radius;}

@mixin corners-right {-webkit-border-radius-topright: $corner-radius; -webkit-border-radius-bottomright: $corner-radius;-moz-border-radius-topright: $corner-radius; -moz-border-radius-bottomright: $corner-radius; border-radius-topright: $corner-radius; border-radius-bottomright: $corner-radius;}

@mixin corners-top {-webkit-border-radius-topright: $corner-radius; -webkit-border-radius-topleft: $corner-radius;-moz-border-radius-topright: $corner-radius; -moz-border-radius-topleft: $corner-radius; border-radius-topright: $corner-radius; border-radius-topleft: $corner-radius;}


html {
  font-size: 62.5%; 
  font-family: "Trebuchet MS", Trebuchet, "Liberation Sans", sans-serif;
  } 

body {  
}

#toolbar {
    height: 55px;
    background: image-url('header_mob.png') repeat-x;
    position: relative;
    @include corners-all;
    @include shadow-all;
}

#logo {
  position: absolute;
  top: 6px;
  margin-left: auto;
  margin-right: auto;
  border: inset 2px #555; 
}


h1 {
  position: relative;
  top: 12px;
    overflow: hidden;
    line-height: 1em;
    width: 250px;
  margin-left: auto;
  margin-right: auto;
    font: bold 24px "Helvetica Neue", Helvetica;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h2, h3 {   
    position: relative;
    overflow: hidden;
    line-height: 1em;
    top: 2px;
    width: 250px;
  margin-left: auto;
  margin-right: auto;
    font: bold 18px "Helvetica Neue", Helvetica;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

h3{
   margin: 1px 0 0 -50px;
}

p{
  font: 18px "Helvetica Neue", Helvetica;
  text-align: center;  
}

.mob_home_logo {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.mob_home_strapline {
  float: left;
  width: 100%;
  text-align: center;
  font: italic 1.5rem sans-serif;
  margin-top: 10px;
}

.mob_home_image_web {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.mob_page_container{
  max-width:450px;
  margin: auto;
}

.mob_home_intro_text{
  float: left;
  width: 100%;
  font-size: 1.4rem; 
  text-align: center;
  padding: 0, 20px, 0, 20px;
  margin-top: 5px;   
}

.mob_login_form{
  float: left;
  width: 100%; 
  text-align: center;
  margin-top: 20px;     
}



.mob_login {
  float: left;
  width: 100%;

  text-align: center;
  input {   
  width: 60%;  
  }
}


.login_submit{
  font: normal 30px;
  background: image-url('button_green_mob.png') repeat-x;
  border: none; 
  color: #fff;
  margin-top: 10px; 
  width: 60%;
      padding: 5px 5px 5px 5px; 
  @include corners-all;
  @include shadow-all;
  &:hover {
   border: solid 1px #fff;
  }    
}



.back, .add, .del, .full_site, .logout, .change_linetype {
    position: absolute;
    top: 13px;
    padding: 0 11px;
    height: 20px;
    padding: 5px 5px 5px 5px; 
    font: bold 14px verdana;
    color: #fff;
    text-decoration: none;
    background: image-url('button_green.png');
    @include corners-all;
}


.back {
    position: absolute;
    top: 13px;
    left: 12px;
    background: image-url('button_green_mob.png');
    padding: 5px 15px 5px 15px; 
}

.logout {
    position: absolute;
    left: 12px;
    background: image-url('button_red_mob.png');  
}

.del, .full_site {
    position: absolute;
    right: 12px;
    background: image-url('button_orange_mob.png') ; 
}

.del {
    position: absolute;
    right: 12px;
    background: image-url('button_green_mob.png') ;
    padding: 5px 10px 5px 10px;   
}

.add {
    position: absolute;
    right: 90px;
    background: image-url('button_green_mob.png');
    padding: 5px 20px 5px 20px;  
}

.change_linetype {
    position: absolute;
    right: 12px;
    background: image-url('button_green_mob.png') ;
    padding: 5px 10px 5px 10px; 
}


.add:active, .del:active, .full_site:active, .logout:active {
    -webkit-border-image: image-url('img/activeButton.png') 0 5 0 5;	
}


ul {
    color: black;
    background: #fff;
    border: 1px solid #B4B4B4;
    font: bold 22px "Helvetica Neue", Helvetica;
    text-decoration: none;
    padding: 0;
    margin: 15px 10px 17px 10px;
    -webkit-border-radius: 8px;
}

ul li {
    color: #666;
    border-top: 1px solid #B4B4B4;
    list-style-type: none;
    padding: 16px 40px 16px 10px;
    text-decoration: none;
}

ul li.specline_line {
    color: #666;
    border-top: 1px solid #B4B4B4;
    list-style-type: none;
    padding: 16px 10px 16px 10px;
    text-decoration: none;
}

ul li.sep {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(36, 126, 57, 1)), to(rgba(36, 126, 57, 1.0)));
    border-bottom: 1px solid #b5c1c9;
    border-top: 1px solid #b5c1c9;
    color: #fff;
    text-align: center;
    font: normal 20px "Helvetica Neue", Helvetica;
    margin: 1px 0 0 0;
    padding: 2px 10px;
    text-shadow: #636a6f 0 1px 0;
}

ul li.clause_title {
    color: black;
    text-wrap: normal;
    font: bold 22px "Helvetica Neue", Helvetica;
}

ul li.specline_line {
    color: black;
    text-wrap: normal;
    font: normal 22px "Helvetica Neue", Helvetica;
}

ul li.specline_type {
background: #eee;
}

ul li.specline_edit {
    padding: 10px 10px 10px 10px;
}

li:first-child, li:first-child a {
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

li:last-child, li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

ul li a{
    width: 100%;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    display: block;
    padding: 16px 10px 16px 10px;
    margin: -10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul li a:active{
    background-color: #194fdb;
    color: #fff;
}
  

ul li input[type="text"] {
    color: #777;
    border: 0;
    height: 40px;
    font: normal 22px "Helvetica Neue", Helvetica;
    text-align: left;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    -webkit-appearance: textarea;
}

ul li textarea {
    color: #777;
    font: normal 22px "Helvetica Neue", Helvetica;
    border: 0;
    height: 80px;
    padding: 0;
    text-indent: -2px;
    width: 100%;
        -webkit-appearance: textarea;
}

ul li input[type="checkbox"] {
    position: relative;
    text-align: center;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
}

#specline_submit {
  float: right;
  width: 100px;
  font: normal 24px verdana;
  color: #fff;
  text-decoration: none;
  margin: 15px 12px 0px 0px;
  border: none;
  padding: 0px 0px 5px 0px;  
  background: image-url('button_green_mob.png') repeat-x;
  @include corners-all;
  @include shadow-all;
  &:hover {
  padding: 0px 0px 5px 0px; 
  border: solid 1px #fff;
  } 
}

ul li.arrow_blank {
    color: #ff0000;

}

ul li.arrow {
    color: black;
    background-image: image-url('chevron.png');
    background-position: right center;
    background-repeat: no-repeat;
}

ul li.add_arrow {
    color: black;
    background-image: image-url('add.png');
    background-position: 96% 55%;
    background-repeat: no-repeat;
}

ul li.del_arrow {
    color: black;
    background-image: image-url('delete_mob.png');
    background-position: 96% 55%;
    background-repeat: no-repeat;
}


select {
    width: 100%;
    height: 40px;
    line-height:40px;
    border: 1px solid #999;
    border-radius: 6px;
    margin-bottom:10px;
        font-family: "Helvetica Neue", Helvetica;
    font-size: 22px;
    font-weight: bold;
}

input #password {
display: block;
}