<div id="page_title">Guidance Note Download</div>
  


<div id="line"></div>

<div id="usp">
	<div id="feature_text_1">
<p>Specright provides FREE to download specification Guidance Notes. Written by Architects in collaboration with leading manufacturers they are updated on a regular basis.</p>		
<p>We are continually expanding our range of guidance notes. If you would like to keep informed of updates and new releases please sign up for email notifications below.</p>		
<!-- Begin MailChimp Signup Form -->
<table>
<form action="http://specright.us5.list-manage.com/subscribe/post?u=023f024767796ab065700e0dc&amp;id=01239b3a0f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
<tr>	
<td width="230px">Subscribe for email notification</td>
<td ><input type="email" value="" name="EMAIL"  placeholder="email address" required></td>
<td><input type="submit" value="Subscribe" name="subscribe" id="#small_trial_link"></td>
</tr>
</form>
</table>
<!--End mc_embed_signup-->				
<p>If you have any comments regarding the contents of our Guidance Notes, would be interested in contributing or would like to see a Guidance Note for a particular Works Section please do contact us.</p>		
	</div>
	<div id="feature_text_2">
	 	
	 	<%= form_tag(:action => "download", :id => 1) do %>
     <table>
      <tr>Select Guidance Note(s) to Download:</td>
      </tr>
      <tr>
        <td>     
			<%= select_tag :subsection_ids, options_from_collection_for_select(@guidepdfs, :id, :title), :multiple => true, :size => 26 %>    
        </td>
      </tr>
      <tr>
        <td>
			<%= submit_tag "download selected Guidance Notes", :class=>"edit_submit" %>
        </td>
      </tr>
     </table>
		<% end %>
	</div>
</div>