<div id="page_title">DE-ACTIVATED ACCOUNT</div>

<div id="line"></div>


<div id="password_reset">

<p>Your user account has been deactivated by your account administrator.</p>
<p>To re-activate your user account please contact your account administrator.</p>
<p>Should you experience any problems or do not know who your account administrator is please contact us for assistance</p>


</div>