	<div class="column_1">
		<div class="column_content">
      		<div class="column_title">Welcome</div>         
    		<div class="column_sub_content">
				<div class="column_guide">    
    				<p><b>Welcome & thank you for using Specrigh</b></p>          
      			</div>
				<div class="column_guide">    
    				<p><b>Adding Users.</b></p>        
    				<ul>
						<li>Specright is offered on the basis of a single free user licence. An unlimited number of additional licences can be provided on an affordable annual subscription basis. To discuss your requirements please contact us, we would be delighted to hear from you.</li> 
    				</ul>   
      			</div>	
      			<div class="column_guide">    
    				<p><b>E-mail Notifications</b></p>        
    				<ul>
						<li>All updates to the Specright application and its contents are available to all users as soon as they are implemented.</li>
						<li>To ensure that our users are hence able to enjoy their benefit as soon as possible all updates are notified via e-mail.</li> 
						<li>Notificatioins of any planned maintenance down time or technical issues are also notified via e-mail.</li> 
						<li>If you do not wish to recieve these emails please click the 'unsubscribe' link at the bottom of the e-mail.</li>
    				</ul>   
      			</div>
				<div class="column_guide">    
    				<p><b>Feedback</b></p>        
    				<ul>
						<li>We are constantly seeking feedback, on all aspects of the Specright application and content. This helps us ensure that we are meeting your current and future needs.</li> 
    				</ul>   
      			</div>									
			</div>	
      	</div>   
	</div>

	<div class="column_2">
		<div class="column_content">
      		<div class="column_title">Getting Started</div>         
    		<div class="column_sub_content">
				<div class="column_guide">    
    				<p><b>Getting Started</b></p>
    				<ul>
						<li>A demonstration project has been created for you. You can use this project to explore how Specright works.</li>
						<li>If you wish you can edit the details of the demonstration project, including reference and title, to reflect your own project details. To do this click on the 'Project' menu item at the top of the page and edit accordingly, changes are saved automatically.</li>
						<li>To create a new project click on the 'Project' menu item at the top of the page and then select 'create new project' to the right of the information band</li>
						<li>We recommend that you view the <span class="tutorial_link"><%= link_to 'Tutorials', helps_path %></span> after reading this page. </li> 
    				</ul>    
      			</div>
      			<div class="column_guide">
      				<p><b>Adding Content</b></p>
    				<ul>
    					<li>Click on the 'add subsections' icon above to add subsections to the Project.</li>
    					<li>Subsections are added to the Project by copying them from the selected template/project.</li>
    					<li>Subsections are referenced in accordance with the UK Common Arrangement of Work Sections. A full list of Subsections is provided within the 'SRM001 List of CAWS Subsections' template. These subsections are content free to which clauses need to be added.</li>
    					<li>To add or delete clauses from individual subsections within the Project click on the 'add/delete clauses' icon. This icon is located at the end of each Clause Title line within 'Document' tab. This will open the clause editing dialogue box where clause can be added or deleted form the subsection currently being edited.</li>
    					<li>Clauses are subdivided into categories for ease of reference and editing. Each category is displayed in a separate tab. Only those categories/tabs that contain clauses are shown.</li>
    					<li>To create a new clause, or to find if a clause currently exists within another template/project, click on the 'new clause' icon at the bottom of the clause editing dialogue box.</li> 
    				</ul>
      			</div>										
			</div>	
      	</div>   
	</div>

	<div class="column_3">
		<div class="column_content">
      		<div class="column_title">Downloading Templates</div>         
    		<div class="column_sub_content">
				<div class="column_guide">    
    				<p>If you only wish to download Works Section Templates please write down and follow these instructions...</p>
    				<ul>
						<li>Click on the green 'add sections' button</li>
						<li>Click on the current template name 'ST-001 List of CAWS subsections' and select 'ST-002 Standard Architectural Specification Template' from the drop down list.</li>
						<li>Select the Works Sections you wish to print off on the left hand side, click the arrow to move them across and save changes.</li>
						<li>After the screen has refreshed, click on 'Publish' in the main menu at the top of the page.</li>
						<li>Then click the 'Print Document' button at the bottom of the screen and a PDF copy of the selected templates will download.</li>  
    				</ul>    
      			</div>										
			</div>	
      	</div>   
	</div>


