  $('*[class^=ui]').hide();
  
  var test = "<div id='edit_popup_template'>Current Template:<%= escape_javascript(select('project', 'id', Project.all.collect {|p| [ p.project_code_and_title, p.id ]}, {}, :onchange => "window.location='/projects/' + <%= @current_project.id%> + '?selected_template_id='+this.value;"))%></div>";
  var test2 = "<form action='/projects/" + <%= @current_project.id%> + "/manage_subsections' method='get' ></form>"


  
	$('<div />').appendTo('body').html(test2).dialog({
		title: 'Add/Remove Subsections',
		width: 745,
		height: 450,
		modal: true,
	});
	
