<div id="page_title">Tutorials</div>

<div id="line_admin"></div>

<div id="edit_box_full">
<div id="settings_edit">

<p>To learn more about how the application works select one of the following tutorials:</p>
<ul>

  <% @tutorials.each do |tutorial|%>
    <li class ="tutorial_link"><%= link_to "#{tutorial.title}", {:controller => "helps", :action => "tutorial", :id => tutorial.id}, :target => "_blank" %></li>
  <% end%>

</ul>

<p>If you require any further assistance, have any questions or would like to provide us with feedback please <%= mail_to "info@specright.co.uk", "Contact Us", :subject => "Web Enquiry" %></p>
</div>
</div>
</div>
