$corner-radius: 4px;
$shadow-right: 1px 1px 1px #000;
$shadow-inset-right: inset 1px 1px 1px #000;
$shadow-bottom: 1px 1px 1px #000;
$shadow-all: 0px 0px 5px #aeaeae;

@mixin shadow-bottom {-moz-box-shadow: $shadow-bottom; -webkit-box-shadow: $shadow-bottom; box-shadow: $shadow-bottom;}
@mixin shadow-right {-moz-box-shadow: $shadow-right; -webkit-box-shadow: $shadow-right; box-shadow: $shadow-right;}
@mixin shadow-inset-right {-moz-box-shadow: $shadow-inset-right; -webkit-box-shadow: $shadow-inset-right; box-shadow: $shadow-inset-right;}

@mixin shadow-all {-moz-box-shadow: $shadow-all; -webkit-box-shadow: $shadow-all; box-shadow: $shadow-all;}
@mixin shadow-none {-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}

@mixin corners-all {-webkit-border-radius: $corner-radius; -moz-border-radius: $corner-radius; border-radius: $corner-radius;}
@mixin corners-top {-webkit-border-radius-topright: $corner-radius; -webkit-border-radius-topleft: $corner-radius;-moz-border-radius-topright: $corner-radius; -moz-border-radius-topleft: $corner-radius; border-radius-topright: $corner-radius; border-radius-topleft: $corner-radius;}


#inline_guide_header{
position: absolute;
top: 4px;
left: 4px;
right: 4px;
height: 30px;
background: url(guide_header.png) repeat-x;
@include corners-all;
@include shadow-all;  
  
  
}


#guide {
  position: absolute;
  right: 120px;
  width: 600px;
  height: 350px;
  background-color: #eee;
  font: bold 12px verdana;
  color: #fff;
  border: 1px solid #fff;
  @include corners-all;
  @include shadow-all;
}

#guide_title {
position: absolute;
top: 7px;
left: 7px;
}

#guide_close {
  position: absolute;
  top: 5px;
  right: 6px;
  font: normal 12px verdana;
  background: url(button_red.png) repeat-x;
  border: none;
  padding: 3px 5px 3px 5px;  
  color: #fff;
  @include corners-all;
  @include shadow-inset-right;
  &:hover {
  padding: 2px 4px 2px 4px;
   border: solid 1px #fff;
   cursor: pointer;
     @include shadow-none;
  }
}

#guide_text{
  position: absolute;
  top: 40px;
  bottom: 75px;
  left: 7px;
  right: 7px;
  color: #000;
  background-color: #f5f5f5;
  font-weight: normal;
  border: 1px solid #fff;
  overflow: auto;
  padding: 0px 10px 5px 10px; 
  @include shadow-none;
  li {
  padding: 0px 0px 5px 0px;    
  }
}

#guide_logo_intro{
  position: absolute;
  bottom: 57px;
  left: 10px;
  width: 600px;
  color: #000;
  font: normal italic 10px verdana;

  padding: 5px 0px 0px 0px;  
}

#guide_sponsor{
  position: absolute;
  bottom: 10px;
  left: 0px;    
}


#guide_logo{
  position: relative;
  float: left;
  width: 200px;
  height: 40px;
margin-left: auto;
margin-right: auto;
text-align: center;
  color: #000;
  border: none;
}

