		<table>
		<tr>
    		<th>Clause Ref</th>
    		<th class="mob_cell">Clause Title</th>
    		<th class="s_tab_cell">Clause Subtitle</th>
    		<th>Product Ref</th>
    		<th class="mob_cell">Product Name</th>  
   		<% @txt3_id_array.each do |txt3_id| %>
      			<th class="mob_cell"><%= txt3_id.text %></th>
    		<% end %>
  		</tr>                     

		</table> 