<div class="app_tab_1">
	<ul class='tabs'>
		<li><a href='#tab1'>current</a></li>
		<li><a href='#tab2'>discontinued</a></li>
	</ul>

	<div id="tab1" class="tab_content">    
		<%= render :partial => "product_table", :locals => { :products => @products, :txt3_id_array => @txt3_id_array } %>
	</div>    
	
	<div id="tab2" class="tab_content">    
		<%= render :partial => "product_table", :locals => { :products => @products, :txt3_id_array => @txt3_id_array } %>
	</div>  
</div>

