


<div class="company_product_table">    

	
	



<table id="products">
<thead>
  <tr>
    <th>Product Name</th>
    <th>Category</th>
    <th>Product Name</th>
    <th>Category</th>
        <th>Product Name</th>
    <th>Category</th>
  </tr>
</thead>
<tbody>
  <% @products.each do |product| %>

  <% end %>
</tbody>
</table>

</div>    