<div class="company_product_table">    

<table id="products">
<thead>
  <tr>
  		<% @headers_row.each do |header| %>
    		<th><%= header %></th>
    	<% end %>
  </tr>
</thead>
<tbody>
	
  	<% @product_array.each do |product| %>
		<tr>
  			<% product.each_with_index do |product, i| %>
    			<td><%= product %></td>
    		<% end %>		
		</tr>
    <% end %>	
</tbody>
</table>

</div>    