<div id="project_info">
  <div id="current_project_title">   
company name
  </div>
</div>


<div id="option_band">

</div>

<div id="edit_box_less">
	
Export Products

select clauses to download

multipart select

export button

all as an option


</div>